#instructions {
    margin-top: 3rem;
    max-width: 750px;
}

#board {
    margin: auto;
    display: block;
    border: 1px solid #000000;
}

#title {
    text-align: center;
    font-size: 1.5rem;
}

#host_div {
    display: none;
}
