#instructions {
    margin-top: 3rem;
    max-width: 750px;
}

#board {
    margin: auto;
    display: block;
    border: 1px solid #000000;
}

#title {
    text-align: center;
    font-size: 1.5rem;
}
#host_div {
    display: none;
}
#flash_message {
    text-align: center;
    position: fixed; /* Sit on top of the page content */
    z-index: 2;
    display: none;
    min-width: 50%; /* positioning */
    height: 3rem;
    top: 10%;
    left: 10%;
    background-color: rgba(0,0,0,0.3); /* Black background with opacity */
}
