#instructions {
    /* display: none; */
}

#board {
    border: 1px solid #000000;
    height: 500px;
    width: 700px;
}

#title {
    /* display: none; */
    text-align: center;
    font-size: 2rem;
}
